<!DOCTYPE html>
<html lang="en-AU">
<head>
  <title>{{ title }}</title>
  {% set css %}
    {% include "css/base.css" %}
    {% include "css/navbar.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

  <link rel="alternate" type="application/atom+xml" href="https://mxeggsalad.pet/mainblog.xml">
  <link rel="alternate" type="application/atom+xml" href="https://mxeggsalad.pet/sitenews.xml">
  <meta charset="utf-8">
  <meta name="author" content="mxeggsalad">
  <!--OG-->
  <meta name="og:title" content="mxeggsalad: {{ title }}">
  <meta name="og:description" content="{{ description }}">
  <meta name="og:image" content="https://mxeggsalad.pet/assets/images/crustyinfantscreamingforhelp.jpg">
  <meta name="og:url" content="https://mxeggsalad.pet{{ page.url }}">
  <meta name="og:type" content="website">
  <!--Twitter-->
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@mxeggsalad">
  <meta name="twitter:image" content="https://mxeggsalad.pet/assets/images/crustyinfantscreamingforhelp.jpg">
</head>

<body>
  <header>
    <h1>{{ header }}</h1>
  </header>

  <main>
    {{ content | safe }}
  </main>

  {% include "components/leftnav.njk" %}

  {% include "components/buttonscroller.njk" %}

  {% include "components/ccfooter.njk" %}

  <script src="/scripts/cssload.js"></script>
</body>
</html>