<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/blogs.css">
  <meta name="author" content="mxeggsalad">
</head>

<body>
  <main>
    <div id="container">
      <h1>{{ header }}</h1>
      {{ content | safe }}
    </div>
  </main>
</body>

  {%- if tags == "mainblog" -%}
  <a href="https://mxeggsalad.nekoweb.org/mainblog.xml" class="feedButton">
    Atom Feed</a>
  {%- endif -%}
  
  {%- if tags == "sitenews" -%}
  <a href="https://mxeggsalad.nekoweb.org/site-news.xml" class="feedButton">
    Atom Feed</a>
  {%- endif -%}
</html>