<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>{{ title }}</title>
  {% set css %}
    {% include "css/blogs.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>

  <meta charset="utf-8">
  <meta name="author" content="mxeggsalad">
  {%- if tags == "mainblog" -%}
  <link rel="alternate" type="application/atom+xml" href="https://mxeggsalad.pet/mainblog.xml">
  {%- endif -%}
  
  {%- if tags == "sitenews" -%}
  <link rel="alternate" type="application/atom+xml" href="https://mxeggsalad.pet/sitenews.xml">
  {%- endif -%}

  <!--OG-->
  <meta name="og:title" content="{{ title }}">
  <meta name="og:description" content="{{ description }}">
  <meta name="og:image" content="https://mxeggsalad.pet/assets/images/crustyinfantscreamingforhelp.jpg">
  <meta name="og:url" content="https://mxeggsalad.pet{{ page.url }}">
  <meta name="og:type" content="article">
  <!--OG Article-->
  <meta name="article:publisher" content="mxeggsalad.pet">
  <!--Twitter-->
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@mxeggsalad">
  <meta name="twitter:image" content="https://mxeggsalad.pet/assets/images/crustyinfantscreamingforhelp.jpg">
</head>

<body>
  <main>
    <div id="container">
      <h1>{{ header }}</h1>
      {{ content | safe }}
    </div>
  </main>
  <script src="/scripts/cssload.js"></script>
  {%- if tags == "mainblog" -%}
  <a href="https://mxeggsalad.nekoweb.org/mainblog.xml" class="feedButton">
    Atom Feed</a>
  {%- endif -%}
  
  {%- if tags == "sitenews" -%}
  <a href="https://mxeggsalad.nekoweb.org/sitenews.xml" class="feedButton">
    Atom Feed</a>
  {%- endif -%}
</body>
</html>