<!DOCTYPE html>
<html lang="en-AU">
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="mxeggsalad">
  <meta charset="utf-8">
  {%- if title == "MxEggSalads Personal Website (MPW)" -%}
    <link rel="stylesheet" href="https://darkosparko.nekoweb.org/webrings/neko-tag/neko-tag.css">
    <link rel="stylesheet" href="https://darkosparko.nekoweb.org/webrings/neko-tag/neko-tag-people.css">
    <!--OG-->
    <meta name="og:title" content="MxEggSalad's Personal Website (MPW)">
    <meta name="og:description" content="Melting pot of my obsessions and constant stream of thought.">
    <meta name="og:image" content="https://mxeggsalad.pet/assets/images/crustyinfantscreamingforhelp.jpg">
    <meta name="og:url" content="https://mxeggsalad.pet/">
    <meta name="og:type" content="website">
    <!--Twitter-->
    <meta name="twitter:title" content="MxEggSalad's Personal Website (MPW)">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@mxeggsalad">
    <meta name="twitter:image" content="https://mxeggsalad.pet/assets/images/crustyinfantscreamingforhelp.jpg">
  {%- endif -%}
</head>

<body>
  <header>
    <h1>{{ header }}</h1>
  </header>

  <main>
    {{ content | safe }}
  </main>
  <script src="/scripts/cssload.js"></script>
</body>
</html>