<div class="mainNav">
  <img class="logo" src="/assets/images/crustyinfantscreamingforhelp.jpg" alt="" width="138px" height="70px">
  <ul class="links">
    <li><a class="{{ 'active' if '/home/' in page.url }}" href="/home/" title="Main page of the website">Home</a></li>
    <li><a class="{{ 'active' if '/profile/' in page.url }}" href="/profile/" title="All of my,,, personal DOX!!! Find out about me here >;3">Profile</a></li>
    <li><a class="{{ 'active' if '/blogs/' in page.url }}" href="/blogs/" title="Long articles, usually informative or based on my interests">Blogs</a></li>
    <li><a class="{{ 'active' if '/microblogs/' in page.url }}" href="/microblogs/" title="Blogs, but but but but REALLY small">~micro~ Blogs</a></li>
    <li><a class="{{ 'active' if '/music/' in page.url }}" href="/music/" title="Self explanatory">Music I Like</a></li>
    <li><a class="{{ 'active' if '/about/' in page.url }}" href="/about/" title="Outlines some information about this website and my contact information">About</a></li>
    <li><a href="https://mxeggsalad.atabook.org/" title="(Offsite)">Atabook</a></li>
  </ul>

  <div class="myButton">
    <div>
      <a href="/assets/buttons/mxeggsalad.nekoweb.org.gif" target="_blank">
      <img src="/assets/buttons/mxeggsalad.nekoweb.org.gif" alt=" " height="35" width="100"></a>
    </div>
  </div>
  <div id="listening"></div>
  <script>// this script is under the MIT license (https://max.nekoweb.org/resources/license.txt)
                        
    const USERNAME = "mxeggsalad"; // Put your LastFM username here
    const BASE_URL = `https://lastfm-last-played.biancarosa.com.br/${USERNAME}/latest-song`;
    
    const getTrack = async () => {
        const request = await fetch(BASE_URL);
        const json = await request.json();
        let status
    
        let isPlaying = json.track['@attr']?.nowplaying || false;
    
        if(!isPlaying) {
          document.getElementById("listening").innerHTML = `
          <img src="${json.track.image[2]['#text']}">
          <div id="trackInfo">
          <h3 id="trackName" style="color: red;"><b>${json.track.name}</b></h3>
          <p id="artistName">${json.track.artist['#text']}</p>
          </div>`
          console.log("NOT PLAYING")
          return;
        } 
        else {
          document.getElementById("listening").innerHTML = `
          <img src="${json.track.image[2]['#text']}">
          <div id="trackInfo">
          <h3 id="trackName" style="color: green;"><b>${json.track.name}</b></h3>
          <p id="artistName">${json.track.artist['#text']}</p>
          </div>`
          console.log("PLAYING")
          return;
        }
        // Values:
        // COVER IMAGE: json.track.image[1]['#text']
        // TITLE: json.track.name
        // ARTIST: json.track.artist['#text']
    
        
    };
    getTrack();
    setInterval(() => { getTrack(); }, 20000);</script>
</div>