<ul class="links">
    <li><a class="{{ 'active' if '/home/' in page.url }}" href="/home/" title="Main page of the website">Home</a></li>
    <li><a class="{{ 'active' if '/profile/' in page.url }}" href="/profile/" title="All of my,,, personal DOX!!! Find out about me here >;3">Profile</a></li>
    <li><a class="{{ 'active' if '/blogs/' in page.url }}" href="/blogs/" title="Long articles, usually informative or based on my interests">Blogs</a></li>
    <li><a class="{{ 'active' if '/microblogs/' in page.url }}" href="/microblogs/" title="Blogs, but but but but REALLY small">~micro~ Blogs</a></li>
    <li><a class="{{ 'active' if '/music/' in page.url }}" href="/music/" title="Self explanatory">Music I Like</a></li>
    <li><a class="{{ 'active' if '/resources/' in page.url }}" href="/resources/" title="Resources that I either use personally, or suggest for topics">Resources</a></li>
    <li><a class="{{ 'active' if '/about/' in page.url }}" href="/about/" title="Outlines some information about this website and my contact information">About</a></li>
    <li><a href="https://mxeggsalad.atabook.org/" title="(Offsite)">Atabook</a></li>
  </ul>