.box{
  margin: 10px;
  margin: 50px auto 50px auto;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 30px 30px 30px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: var(--second);
}
.collections{
  max-width: fit-content;
  max-height: fit-content;
  padding-bottom: 0px;
  padding-top: 0px;

  display: none;
}
.collections h2{
  margin-top: 15px;
  margin-bottom: 15px;
}
.albums h2{
  margin-top: 15px;
}
.albums{
  max-width: 940px;
  margin-bottom: 90px;
}
.albums img{
  height: 120px;
  width: 120px;
}