---json
{
  "permalink": "mainfeed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "mxeggsalads Main Blog",
    "subtitle": "The main CESSPIT of my blog. Have fun.",
    "language": "en-AU",
    "url": "https://mxeggsalad.nekoweb.org/blogs/main",
    "author": {
      "name": "mxeggsalad"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.mainblog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for mainblog in collections.mainblog | reverse %}
  {%- set absolutePostUrl = mainblog.url | absoluteUrl(metadata.url) %}
  <entry>
    <title>{{ mainblog.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ mainblog.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content xml:lang="{{ metadata.language }}" type="html">{{ mainblog.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>