.mainboxFlex{
  display: flex;
  background-color: var(--second);
  padding: 20px 25px 20px 25px;
  margin-left: auto;
  margin-right: auto;
  height: fit-content;
  max-width: 600px;
  text-align: left;
  border: 2px solid var(--border);
  border-radius: 10px;
}
.leftContent img{
  max-width: 230px;
}
.leftContent{
  margin-right: 5px;
}
.leftContent .container, .rightContent .container{
  background-color: var(--main);
  height: fit-content;
  border: 2px solid var(--border);
  border-radius: 10px;
  padding: 10px;
}
.leftContent .container ul{
  margin-bottom: 0;
}
.leftContent .container li{
  font-size: 65%;
  margin-left: 10px;
}
.leftContent .container h2,.rightContent .container h2{
  width: fit-content;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 80%;
}
.rightContent{
  margin-left: 5px;
}
.rightContent p{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 70%;
}